backend/PhotoMap/rabbitmq
backend/PhotoMap/.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
/src/dev.env
/docs/~$ndo Identity Server Public API.docx
/src/Output-Build.txt

# Logs
*.log

backend/PhotoMap/.docker/
*node_modules

backend/PhotoMap/Systems/Worker/PhotoMap.Worker/bin
backend/PhotoMap/Systems/Worker/PhotoMap.Worker/obj
backend/PhotoMap/Systems/Identity/PhotoMap.Identity/bin
backend/PhotoMap/Systems/Identity/PhotoMap.Identity/obj

backend/PhotoMap/Systems/Api/PhotoMap.Api/bin
backend/PhotoMap/Systems/Api/PhotoMap.Api/obj

backend/PhotoMap/Systems/Api/PhotoMap.Api.Settings/bin
backend/PhotoMap/Systems/Api/PhotoMap.Api.Settings/obj




