.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
    z-index: 9999; /* Большой z-index, чтобы перекрыть остальные компоненты */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .popup-content {
    margin-bottom: 20px;
  }
  
  .popup-content h3 {
    margin-bottom: 10px;
  }
  
  .popup-content input[type="text"],
  .popup-content textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .popup-content textarea {
    resize: vertical;
  }
  
  .popup-content button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-content button:hover {
    background-color: #0056b3;
  }
  