.add-feedback-button {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50%; /* Делаем кнопку круглой */
  width: 50px; /* Размер кнопки */
  height: 50px; /* Размер кнопки */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.add-feedback-button::before {
  content: '+';
  font-size: 24px;
  color: violet; /* Фиолетовый цвет для + */
}

.add-feedback-button:hover::before {
  opacity: 1;
}

.add-feedback-button:hover {
  border-color: violet; /* Фиолетовый контур при наведении */
  box-shadow: 0 0 10px violet; /* Фиолетовая тень при наведении */
}
