.route-page-container {
    position: relative;
}

.search {
    position: relative;
}

.search-results {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 100;
}

.search-result {
    padding: 10px;
    cursor: pointer;
}

.search-result:hover {
    background-color: #f0f0f0;
}

.map-container {
    position: relative;
    z-index: 1;
}
