.route-page-container {
    display: flex;
    flex-direction: column; /* Размещаем элементы вертикально */
    height: 100vh; /* Задаем высоту контейнера на весь экран */
    padding-left: 20px;
    padding-right: 20px;
}

.search {
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
}

.search-results {
    position: absolute; /* Заменяем absolute на relative */
    margin-top: 5px; /* Добавляем небольшой отступ от строки поиска */
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 100;
    border-radius: 10px;
}

.search-results.collapsed {
    max-height: 30px; /* Задаем минимальную высоту контейнера для кнопки "Развернуть" */
    overflow: hidden;
    transition: max-height 0.3s ease; /* Добавляем анимацию перехода */
}
.search-result {
    padding: 10px;
    cursor: pointer;
}

.search-result:hover {
    background-color: #f0f0f0;
}
.collapse-toggle {
    cursor: pointer;
    text-align: center;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}

.collapse-toggle:hover {
    background-color: #e0e0e0;
    margin-bottom: 5px;
}
.map-and-points-container {
    display: flex;
    margin-top: 25px;
}

.map-container {
    width: 85%;
    margin-right: 10px;
    z-index: 10;
}

.points-container {
    width: 15%;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.points-box {
    font-family: 'Roboto', sans-serif; /* Устанавливаем шрифт Roboto */
    color: #333; /* Устанавливаем цвет шрифта темно-серым */
}

  .points-box h2 {
    font-size: 16px; /* Устанавливаем размер шрифта заголовка */
    color: #555;
    font-weight: 300;
  }
  
  .points-box ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
  }
  
  .points-box li {
    font-weight: 300; /* Устанавливаем тонкий шрифт */
    font-size: 14px; /* Устанавливаем размер шрифта для точек маршрута */
  }
  
  .points-box button {
    background: none;
    color: red;
    border: none;
    cursor: pointer;
    font-size: 12px; /* Устанавливаем размер шрифта для кнопки удаления точки маршрута */
  }
  .point-info {
    display: flex;
    justify-content: space-between;
  }
  
  .points-box {
    font-family: Helvetica, sans-serif; /* Устанавливаем шрифт */
  }
  
  .points-box ul {
    padding: 0;
    list-style: none;
  }
  
  .points-box li {
    margin-bottom: 10px; /* Отступ между элементами списка */
    display: flex; /* Располагаем элементы списка в одной строке */
    align-items: center; /* Выравниваем элементы по вертикали */
  }
  
  .points-box button {
    margin-left: 10px; /* Отступ между кнопкой и текстом */
    background: none; /* Убираем фон у кнопки */
    border: none; /* Убираем границу у кнопки */
    cursor: pointer; /* Устанавливаем курсор при наведении */
    font-size: 16px; /* Устанавливаем размер кнопки */
    width: 16px; /* Устанавливаем минимальную ширину кнопки */
    height: 16px; /* Устанавливаем минимальную высоту кнопки */
    display: flex; /* Располагаем контент внутри кнопки в строку */
    align-items: center; /* Выравниваем контент по вертикали */
  }
  
  .leaflet-control-attribution {
    display: none;
  }


.point-name {
  float: left; /* Расположение текста точки слева */
}

.delete-button {
  float: right; /* Расположение кнопки удаления точки справа */
}

.points-box ul {
  padding: 0;
  list-style-type: none;
}

.points-box li {
  display: flex;
  justify-content: space-between;
}


/* RoutePage.css */
.route-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dark-theme .search-results {
  background-color: #333;
  color: #fff;
}

.dark-theme .search-result:hover {
  background-color: #444;
}

.dark-theme .collapse-toggle {
  background-color: #555;
}

.dark-theme .collapse-toggle:hover {
  background-color: #666;
}

.dark-theme .points-container {
  background-color: #222;
  color: #fff;
}

.dark-theme .points-box h2 {
  color: #ccc;
}

.dark-theme .points-box li {
  color: #ccc;
}

.dark-theme .delete-button {
  color: red;
}

.dark-theme .leaflet-routing-container {
  background-color: #313131;
  color: #fff;
}

