.route-page-container {
    display: flex;
    flex-direction: column; /* Размещаем элементы вертикально */
    height: 100vh; /* Задаем высоту контейнера на весь экран */
}

.search {
    position: relative;
    margin-bottom: 10px;
}

.search-results {
    position: absolute; /* Заменяем absolute на relative */
    margin-top: 5px; /* Добавляем небольшой отступ от строки поиска */
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 100;
}

.search-results.collapsed {
    max-height: 30px; /* Задаем минимальную высоту контейнера для кнопки "Развернуть" */
    overflow: hidden;
    transition: max-height 0.3s ease; /* Добавляем анимацию перехода */
}
.search-result {
    padding: 10px;
    cursor: pointer;
}

.search-result:hover {
    background-color: #f0f0f0;
}
.collapse-toggle {
    cursor: pointer;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}

.collapse-toggle:hover {
    background-color: #e0e0e0;
    margin-bottom: 5px;
}
.map-and-points-container {
    display: flex;
    margin-top: 25px;
}

.map-container {
    width: 85%;
    padding: 10px;
    z-index: 10;
}

.points-container {
    width: 15%;
    padding: 10px;
    background-color: #f5f5f5;
}
