.sidebar {
  position: fixed;
  top: 105px; /* начало сайдбара на 105 пикселей ниже верха экрана */
  left: 0;
  height: calc(100% - 105px); /* высота сайдбара будет равна высоте экрана минус 105 пикселей */
  width: 250px;
  background-color: #292a35; /* темно-серый фон */
  overflow-y: auto; /* разрешить прокрутку, если содержимое выходит за пределы высоты */
  padding-top: 20px;
  transition: transform 0.3s ease-in-out; /* плавное анимированное открытие/закрытие */
  transform: translateX(-250px); /* начальное смещение влево за пределы экрана */
  z-index: 1000; /* чтобы слайдбар был поверх остального содержимого */
  font-weight: 300;
  text-align: left;

}

.sidebar.open {
  transform: translateX(0); /* смещение вправо для открытого слайдбара */
}

.sidebar a {
  display: block; /* расположить ссылки на новые страницы одна под другой */
  padding: 15px 20px; /* отступы вокруг текста ссылки */
  color: #fff; /* белый цвет текста ссылок */
  text-decoration: none; /* убрать подчеркивание ссылок */
  font-size: 22px; /* размер текста ссылок */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* плавное изменение цвета фона и текста при наведении */
}

.sidebar a:hover {
  background-color: #8a2be2; /* фиолетовый цвет фона при наведении */
  color: #fff; /* белый цвет текста при наведении */
}
